{% extends "base.html" %}

{% block title %}Все Видео{% endblock %}

{% block content %}
    {% if actions %}
        <h1>Результаты поиска действий:</h1>
        <ul class="search-results">
            {% for action in actions %}
                <li>
                    <a href="{{ action.video_url }}">{{ action.action_name }}</a> - {{ action.timestamp }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>Все доступные видео:</h1>
        <ul class="video-list">
            {% for video in videos %}
                <li><a href="{{ video.video_url }}">{{ video.video_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
