{% extends "base.html" %}

{% block title %}Видео: {{ video_name }}{% endblock %}

{% block extra_styles %}
    <style>
        video {
            margin-top: 20px;
            display: block;
            margin: 0 auto;
            max-width: 80%;
            border: 5px solid #FFD700;
            border-radius: 10px;
            box-shadow: 0px 5px 15px rgba(255, 215, 0, 0.3);
        }

        /* Обертка для списка действий */
        .actions-wrapper {
            background-color: rgba(255, 215, 0, 0.1); /* Полупрозрачный желтый фон */
            border-radius: 15px;
            padding: 20px;
            margin-top: 30px;
            width: 80%;
            max-width: 900px;
            box-shadow: 0px 5px 15px rgba(255, 215, 0, 0.5);
            margin-bottom: 50px; /* Немного отступа снизу */
        }

        .actions {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: left;
        }

        .actions li {
            margin: 10px 0;
            font-size: 1.2rem;
        }

        .actions strong {
            color: #FFD700; /* Желто-золотой цвет */
        }
    </style>
{% endblock %}

{% block content %}

    <!-- Заголовок видео -->
    <h1>Видео: {{ video_name }}</h1>

    <!-- Видеоплеер -->
    <video width="640" height="360" controls>
        <source src="{{ video_url }}" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>

    <!-- Обертка для списка действий -->
    <div class="actions-wrapper">
        <h2>Действия:</h2>
        <ul class="actions">
            {% for action, action_time in actions %}
                <li><strong>{{ action }}</strong> в <strong>{{ action_time }}</strong></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
